@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    font-family: "Poppins", sans-serif;
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}

p,
ul {
    font-size: 1.8rem;
}

a {
    color: var(--green);
    font-weight: 500;
    text-decoration: none;
}

h1 {
    font-size: 4rem;

    @media only screen and (min-width: $mobile-breakpoint) {
        font-size: 5.4rem;
    }
}

h2 {
    font-size: 3.4rem;
}

h3 {
    font-size: 2.4rem;
}

h4 {
    font-size: 1.8rem;
}

h5 {
    font-size: 1.6rem;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    background: url("/images/bullet-point.svg") no-repeat left center;
    /* reset styles (optional): */
    margin: 0 0 1.7rem;
    padding: 0 0 0 1.9rem;
    color: var(--green);
    font-weight: 500;
}

.caption {
    font-size: 4.4rem;

    @media only screen and (min-width: $mobile-breakpoint) {
        font-size: 7.4rem;
    }
}

.underline {
    $overwidth: 1%;
    position: relative;
    display: inline-flex;
    align-items: baseline;

    &--dark {
        &:after {
            background-color: var(--yellow);
        }
    }

    &::before {
        content: '';
        display: block;
        position: absolute;
        height: 20%;
        width: calc(100% + #{$overwidth});
        color: transparent;
        left: #{-$overwidth/2};
        bottom: 16%;
        clip-path: var(--standard-box-clip);
        background-color: var(--yellow);
        z-index: -1;
    }
}
