<footer class="footer">
    <div class="footer__wrap">
        <nav class="footer__main-nav">
            <div class="footer__brand">
                <a href="/">
                    <img src="/images/simple-logo.svg" alt="elation home" />
                </a>
            </div>

            <section class="footer__main-nav-section footer-nav">
                <h4 class="footer__main-nav-header">Products</h4>

                <ul class="footer-nav__list">
                    <li class="footer-nav__item">
                        <a href="/">Growth Framework</a>
                    </li>

                    <li class="footer-nav__item">
                        <a href="/">Growth Academy</a>
                    </li>

                    <li class="footer-nav__item">
                        <a href="/">Growth Club</a>
                    </li>
                </ul>
            </section>

            <section class="footer__main-nav-section footer-nav">
                <h4 class="footer__main-nav-header">Company</h4>

                <ul class="footer-nav__list">
                    <li class="footer-nav__item">
                        <a href="/">About</a>
                    </li>

                    <li class="footer-nav__item">
                        <a href="/">News &amp; Insights</a>
                    </li>

                    <li class="footer-nav__item">
                        <a href="/">Growth Club</a>
                    </li>
                </ul>
            </section>

            <section class="footer__main-nav-section footer-nav">
                <h4 class="footer__main-nav-header">Help</h4>

                <ul class="footer-nav__list">
                    <li class="footer-nav__item">
                        <a href="/">FAQ</a>
                    </li>

                    <li class="footer-nav__item">
                        <a href="/">Contact</a>
                    </li>

                    <li class="footer-nav__item">
                        <a href="/">Resources</a>
                    </li>
                </ul>
            </section>

            <div class="footer__social">
                {% include "partials/social.html" %}

                <p class="footer__subscribe">Subscribe to our newsletttr and stay in the loop.</p>

                <p><a href="/">Sign up</a></p>
            </div>
        </nav>

        <div class="footer__bottom">
            <nav class="footer__bottom-nav">
                <ul class="footer__bottom-nav-list">
                    <li class="footer__copyright">
                        <p>&copy; 2019 Elation.</p>
                        <p>All rights reserved</p>
                    </li>

                    <li>
                        <a href="/" class="underline underline--dark">Terms &amp; Conditions</a>
                    </li>

                    <li>
                        <a href="/" class="underline underline--dark">Privacy Policy</a>
                    </li>

                    <li>
                        <a href="/" class="underline underline--dark">Cookie Policy</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</footer>
