<header class="header">
    <button class="menu-icon js-menu-button" aria-description="open navigation" data-is-open="0">
        <div class="menu-icon__line menu-icon__line--top"></div>
        <div class="menu-icon__line menu-icon__line--middle"></div>
        <div class="menu-icon__line menu-icon__line--bottom"></div>
    </button>

    {% include "partials/nav.html" %}

    <div class="header__top-bar">
        <img aria-hidden="true" src="/images/logo-white.svg" height="56" alt="elation logo" />
    </div>


    <a href="/" class="header__logo-container">
        <img src="/images/logo-white.svg" height="56" alt="elation logo" />
    </a>
</header>
