<header class="header">
    <div class="header__logo-container">
        <a href="/">
            <img src="/images/logo-white.svg" height="56" alt="elation logo" />
        </a>
    </div>

    <button class="menu-icon js-menu-button" aria-description="open navigation" data-is-open="0">
        <div class="menu-icon__line menu-icon__line--top"></div>
        <div class="menu-icon__line menu-icon__line--middle"></div>
        <div class="menu-icon__line menu-icon__line--bottom"></div>
    </button>

    <nav class="main-nav">
        <a href="/"><img src="/images/nav-logo.svg" alt="elation home" /></a>

        <ul class="main-nav__list">
            <li class="main-nav__list-item"><a href="#">Us</a></li>
            <li class="main-nav__list-item"><a href="#" class="underline underline--dark">You</a></li>
            <li class="main-nav__list-item"><a href="#">Services</a></li>
            <li class="main-nav__list-item"><a href="#">Resources</a></li>
            <li class="main-nav__list-item"><a href="#">Blog</a></li>
            <li class="main-nav__list-item"><a href="#">Contact</a></li>
        </ul>

        <ul class="main-nav__social-list">
            <li class="social-icon">
                <a href="www.facebook.com">
                    <img src="/images/social-icons/facebook.svg" alt="our facebook" />
                </a>
            </li>
            <li class="social-icon social-icon--rotation-1">
                <a href="www.twitter.com">
                    <img src="/images/social-icons/twitter.svg" alt="our twitter" />
                </a>
            </li>
            <li class="social-icon social-icon--rotation-2">
                <a href="www.linkedin.com">
                    <img src="/images/social-icons/linkedin.svg" alt="our linkedin" />
                </a>
            </li>
            <li class="social-icon social-icon--rotation-3">
                <a href="www.instagram.com">
                    <img src="/images/social-icons/instagram.svg" alt="our instagram" />
                </a>
            </li>
        </ul>
    </nav>
</header>
