<nav class="main-nav">
    <a href="/"><img src="/images/simple-logo.svg" alt="elation home" /></a>

    <ul class="main-nav__list">
        <li class="main-nav__list-item"><a href="#">Us</a></li>
        <li class="main-nav__list-item"><a href="#" class="underline underline--dark">You</a></li>
        <li class="main-nav__list-item"><a href="#">Services</a></li>
        <li class="main-nav__list-item"><a href="#">Resources</a></li>
        <li class="main-nav__list-item"><a href="#">Blog</a></li>
        <li class="main-nav__list-item"><a href="#">Contact</a></li>
    </ul>

    {% include "partials/social.html" %}
</nav>
