.button {
    $warping: 5px;
    $offset: 1.3rem;
    $line-width: 3px;

    display: inline-block;
    border: none;
    position: relative;
    color: var(--white);
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    background: transparent;
    width: 21.2rem;
    padding: 2rem 0;
    transition: all 300ms;
    cursor: pointer;
    z-index: 1;
    text-align: center;
    padding: 1rem 0 3rem 2rem;
    top: 1rem;
    left: -1.5rem;

    &--small {
        width: 14rem;
    }

    &--large {
        width: 25rem;
    }

    &:hover {
        padding: 2rem 0;

        &:before {
            transform: none;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            clip-path: polygon(0% #{$warping}, calc(100% - #{$warping}) 0%, 100% 100%, 0 calc(100% - #{$warping}));
            background-color: var(--green);
        }
    }

    &:before {
        content: '';
        transition: inherit;
        background-color: var(--purple);
        z-index: -1;
        position: absolute;
        left: 0.26rem;
        top: 0.36rem;
        width: calc(100% - 0.54rem);
        height: calc(100% - 0.72rem);
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        transform: translate(#{$offset, -$offset});
    }

    &:after {
        content: '';
        background-color: black;
        transition: inherit;
        z-index: -2;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        clip-path: polygon(0% #{$warping}, // top left
                           calc(100% - #{$warping}) 0%, // top right
                           calc(100% - #{$warping + $line-width}) #{$line-width}, // top right inner
                           #{$line-width} #{$line-width + $warping}, // top left inner
                           #{$line-width} calc(100% - #{$warping + $line-width}), // bottom left inner
                           calc(100% - #{$line-width}) calc(100% - #{$line-width}),// bottom right inner
                           calc(100% - #{$warping + $line-width}) #{$line-width}, // top right inner
                           calc(100% - #{$warping}) 0, // top right
                           100% 100%, // bottom right outer
                           0 calc(100% - #{$warping}) // bottom left outer
                           )
    }

    &--white {
        color: var(--green);

        &:before,
        &:after {
            background-color: white;
        }

        &:hover {
            color: white;

            &:before {
                background-color: var(--yellow);
            }
        }

        .button {
            &:before,
            &:after {
                background-color: white;
            }
        }
    }

}
