.cta {
    background-image: url("/images/backgrounds/white.svg");
    background-position: center center;
    background-color: var(--yellow);
    color: var(--purple);
    padding: 9rem 0 8.3rem;

    &__wrap {
        @include wrap();
    }

    &__card {
        padding: 11.3rem 7.6rem 10rem;
        background-color: var(--yellow);
        margin: auto;
        text-align: center;

        @media only screen and (min-width: 768px) {
            width: get-width(8);
        }

        @media only screen and (min-width: 1024px) {
            width: get-width(6);
        }
    }

    &__heading {
        margin: 0 0 1.5rem;
    }

    &__caption {
        margin: 0 0 3rem;
    }

    &__cta {
        margin: 0;
    }
}
