.footer {
    $two-cols-width: get-width(2, $trailing-gutter:true);
    $three-cols-width: get-width(3, $trailing-gutter:true);

    background-color: var(--purple);
    padding: 11.2rem 0 4.6rem;
    color: white;

    a {
        color: white;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    &__brand {
        width: get-width(6);

        @media only screen and (min-width: 830px) {
            width: $three-cols-width;
        }

        @media only screen and (min-width: 1156px) {
            width: $two-cols-width;
        }
    }

    &__main-nav {
        margin-bottom: 8.3rem;
        display: flex;
        flex-wrap: wrap;

        &-section {
            margin-bottom: 6rem;
            margin-top: 4rem;
            width: 100%;

            @media only screen and (min-width: 450px) {
                margin-top: 0;
                width: get-width(6);
            }

            @media only screen and (min-width: 830px) {
                margin-bottom: 0;
                width: $three-cols-width;

                &--last {
                    width: get-width(3);
                }
            }

            @media only screen and (min-width: 1156px) {
                width: $two-cols-width;
            }
        }

        &-header {
            color: var(--green);
            margin-bottom: 4.1rem;
        }
    }

    &__wrap {
        @include wrap();
    }

    &__social {
        width: 100%;
        margin-top: 6rem;

        @media only screen and (min-width: 830px) {
            margin-left: get-offset(3);
        }

        @media only screen and (min-width: 1156px) {
            margin-top: 0;
            width: $two-cols-width;
            margin-left: get-offset(2, $leading-gutter: true);
        }
    }

    &__bottom {
    }

    &__copyright {
        width: $two-cols-width;

        > p {
            margin: 0;
            line-height: 26px;
        }
    }

    &__subscribe {
        margin: 2.9rem 0;
        width: 21rem;
    }

    &__bottom-nav {
        &-list {
            display: flex;
            align-items: flex-end;
            gap: $gutter-width;

            @media only screen and (min-width: 1156px) {
                gap: 0;
            }

            > li {
                width: $three-cols-width;

                @media only screen and (min-width: 1156px) {
                    width: $two-cols-width;

                }
            }
        }
    }
}

.footer-nav {
    &__item {
        &:not(:last-child) {
            margin-bottom: 1.6rem;
        }
    }
}
