.info-block {
    background-image: url('/images/backgrounds/white-purple.svg');
    background-position: center center;
    height: 97.3rem;

    &__wrap {
        @include wrap($full-width: true, $padding: false);

        display: flex;
        justify-content: space-between;
        height: 100%;
    }

    &__left {
        position: relative;
        background-color: white;
        margin: 12rem 0 0 0;
        color: var(--green);
        width: calc(#{get-width(6, $margin: $site-extra-margin)} + #{$site-padding});
        padding: 6.37rem $site-extra-margin 7.95rem;
        align-self: flex-start;
    }

    &__right {
        $padding: 5.5rem;

        background-color: white;
        align-self: flex-end;
        padding: 6.13rem $padding 3.93rem;
        width: calc(#{get-width(4, $margin: $site-extra-margin)} + #{$padding});
        color: var(--purple);
        margin-bottom: 12rem;
    }

    &__cta {
        margin-top: 4rem;
    }
}
