.menu-icon {
    $line-thickness: .33rem;

    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: transparent;
    border: none;
    height: 2.13rem;
    width: 3.3rem;
    cursor: pointer;
    padding: 0;
    top: 5.5rem;
    right: 3.86rem;
    z-index: calc(var(--nav-layer) + 10);
    transition: all 200ms;

    &__line {
        display: block;
        background-color: white;
        width: 100%;
        transition: inherit;
        pointer-events: none;

        &:not(:last-child) {
            margin-bottom: 5.5px;
        }

        &--top {
            height: 0.35rem;
            @include elation-clip($height: 0.35rem, $warping: 0.2px, $slant-warp: 0.8px);
        }

        &--middle {
            height: 0.34rem;
            width: 2.23rem;
            @include elation-clip($height: 0.35rem, $warping: 0.2px, $slant-warp: 0.8px);
        }

        &--bottom {
            height: 0.33rem;
            @include elation-clip($height: 0.33rem, $warping: 0.2px, $slant-warp: 0.8px);
        }
    }

    &--open {
        .menu-icon {
            &__line {
                $offset: 0.89rem;
                &--top {
                    height: 0.35rem;
                    @include elation-clip($height: 0.35rem, $warping: 0.2px, $slant-warp: 0.8px);
                    transform: translateY(#{$offset}) rotate(-45deg) scaleY(150%);
                }

                &--middle {
                    height: 0.34rem;
                    opacity: 0;
                    visibility: hidden;
                    @include elation-clip($height: 0.35rem, $warping: 0.2px, $slant-warp: 0.8px);
                }

                &--bottom {
                    height: 0.33rem;
                    @include elation-clip($height: 0.33rem, $warping: 0.2px, $slant-warp: 0.8px);
                    transform: translateY(#{-$offset}) rotate(45deg) scaleY(150%);
                }
            }
        }
    }
}
