.news-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 38.6rem;
    min-height: 50rem;
    text-align: center;
    --h-warp: 3px;
    --v-warp: 5px;

    clip-path: polygon(
        var(--h-warp) var(--v-warp),
        100% 0%,
        calc(100% - var(--h-warp)) 100%,
        0% calc(100% - var(--v-warp)));

    &:nth-child(2) {
        animation-delay: 250ms;
    }

    &:nth-child(3) {
        animation-delay: 500ms;
    }


    &__category {
        color: black;
        font-size: 2.4rem;
        font-weight: 600;
    }

    &__link {
        color: inherit;
        display: block;
        height: 100%;
    }

    &__image {
        background-position: center center;
        background-size: cover;
        height: 100%;
    }

    &--middle {
        @media only screen and (min-width: 1280px) {
            transform: translateY(8rem);
        }
    }

    &--text {
        background-color: var(--green);
        color: white;
        padding: 8.7rem 5.4rem;
    }
}
