.news {
    background-color: white;
    padding: 11rem 0 19rem;

    &__wrap {
        @include wrap();
    }

    &__header {
        margin-bottom: 9rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__title {
        margin: 0;
    }

    &__cards {
        display: flex;
    }
}
