.news-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 38.6rem;
    min-height: 50rem;
    text-align: center;

    &__category {
        color: black;
        font-size: 2.4rem;
        font-weight: 600;
    }

    &__link {
        color: inherit;
        display: block;
        height: 100%;
    }

    &__image {
        background-position: center center;
        background-size: cover;
        height: 100%;
    }

    &--middle {
        @media only screen and (min-width: 1280px) {
            transform: translateY(8rem);
        }
    }

    &--text {
        background-color: var(--green);
        color: white;
        padding: 8.7rem 5.4rem;
    }
}
