.news {
    background-color: white;
    padding: 11rem 0 19rem;
    @include block-clip($slant: 3vw, $is-top: true, $is-left: true);

    &__wrap {
        @include wrap();
    }

    &__header {
        margin-bottom: 5rem;

        @media only screen and (min-width: 400px) {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
        }

        @media only screen and (min-width: 700px) {
            margin-bottom: 9rem;
        }
    }

    &__title {
        margin: 0;
    }

    &__cards {
        display: flex;
        gap: $gutter-width;
        flex-wrap: wrap;
        justify-content: center;
    }
}
