.partners {
    --side-padding: 2rem;

    color: var(--green);
    margin: 10rem 0;

    @include block-clip($slant: 2vw, $is-top: true, $is-left: true);

    @media only screen and (min-width: 830px) {
        --side-padding: 6.2rem;
    }

    &__wrap {
        @include wrap($full-width: true);
        margin: 0 auto;
        padding: 0 var(--site-padding);
        background-color: white;
        padding: 10rem var(--side-padding) 8rem;
    }

    &__title {
        text-align: center;
        margin-bottom: 4rem;
    }

    &__slider-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 4rem 0 2rem;
    }

    &__slider {
        min-height: 10rem;
        @media only screen and (min-width: 740px) {
            flex: 1 0 auto;
        }
    }

    &__slide-arrow {
        position: relative;
        z-index: 1;
        color: var(--green);
        border: none;
        background-color: transparent;
        font-size: 2.4rem;
    }

    &__pips {
        text-align: center;
        margin-top: 4rem;
    }

    &__partner-list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        gap: $gutter-width;
        min-height: 100%;
    }

    &__partner-item {
    }
}
