.products {
    background-color: var(--purple);
    color: white;
    padding: 4rem 0;

    @include block-clip($slant: 3vw, $is-top: true);

    @media only screen and (min-width: 768px) {
        padding: 20rem 0;
    }

    &__wrap {
        @include wrap();

        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: $gutter-width;
    }

    &__header,
    &__copy {
        text-align: center;
        padding: $site-padding;
        margin: auto;
    }

    &__header {
        margin-bottom: 1rem;
        max-width: 92.4rem;

        @media only screen and (min-width: 768px) {
            margin-bottom: 3rem;
        }
    }

    &__copy {
        margin-bottom: 6rem;

        @media only screen and (min-width: 768px) {
            margin-bottom: 12rem;
        }

        max-width: 80.8rem;
        font-size: 3.4rem;
    }
}
