.slider {
    --slide: 1;

    &--dark-pips {
        .slider__pip {
            background-color: var(--purple);
            opacity: 0.15;

            &--active {
                background-color: var(--green);
                opacity: 1;
            }
        }
    }

    &__container {
        display: flex;
        transform: translateX(calc(-100% * var(--slide)));
        transition: all 400ms;
    }

    &__slide {
        opacity: 0;
        flex: 0 0 100%;
        transition: inherit;
        pointer-events: none;
        visibility: hidden;

        &--show {
            pointer-events: all;
            visibility: visible;
            opacity: 1;
        }
    }

    &__pip {
        background-color: white;
        opacity: 0.5;
        width: 1rem;
        height: 1rem;
        border-radius: 5px;
        border: none;
        cursor: pointer;

        &:not(:last-child) {
            margin-right: 5px;
        }

        &--active {
            opacity: 1;
        }
    }

    &__right-button,
    &__left-button {
        cursor: pointer;
    }
}
