.slider {
    --slide: 1;

    &--dark-pips {
        .slider__pip {
            opacity: 0.15;
            background-image: url('/images/pip-darker.svg');

            &--active {
                background-image: url('/images/pip-active-green.svg');
                opacity: 1;
            }
        }
    }

    &__container {
        display: flex;
        transform: translateX(calc(-100% * var(--slide)));
        transition: all 400ms;
    }

    &__slide {
        opacity: 0;
        flex: 0 0 100%;
        transition: inherit;
        pointer-events: none;
        visibility: hidden;

        &--show {
            pointer-events: all;
            visibility: visible;
            opacity: 1;
        }
    }

    &__pip {
        background-color: transparent;
        opacity: 0.5;
        width: 1rem;
        height: 1rem;
        transition: all 200ms;
        // border-radius: 0.5rem;
        border: none;
        cursor: pointer;
        background-image: url('/images/pip.svg');
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;

        &:nth-child(3n + 2) {
            transform: rotate(100deg);
        }

        &:nth-child(3n + 3) {
            transform: rotate(90deg);
        }

        &:not(:last-child) {
            margin-right: 1.4rem;
        }

        &--active {
            opacity: 1;
        }
    }

    &__right-button,
    &__left-button {
        cursor: pointer;
    }
}
