.testimonials {
    padding: 6rem 0 5rem;
    background-color: var(--white);

    @include block-clip($slant: 3vw, $is-top: true);

    @media only screen and (min-width: 768px) {
        padding: 17.73rem 0 10rem;
    }

    &__wrap {
        margin: auto;
        padding: 2rem;

        @media only screen and (min-width: 768px) {
            @include wrap($full-width: true);
        }

        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    &__slider {
        @media only screen and (min-width: 768px) {
            width: get-width(8);
        }

        @media only screen and (min-width: 1024px) {
            width: get-width(6);
        }
    }

    &__testimonial {
    }

    &__quote {
        margin: 0;
        position: relative;

        &:before {
            display: block;
            content: '\201C';
            color: var(--yellow);
            position: absolute;
            transform: translateX(-100%);
            font-size: 20.4rem;
            line-height: 0.8;
        }
    }

    &__pips {
        display: flex;
        width: 100%;

        &:not(:last-child) {
            margin-right: 1rem;
        }
    }

    &__right {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 66.3rem;
        display: none;

        @media only screen and (min-width: 768px) {
            width: get-width(4);
            display: block;
        }

        @media only screen and (min-width: 1024px) {
            width: get-width(6);
        }
    }

    &__image {
        clip-path: url(#puzzle-mask);
        height: 100%;
        width: 66.5rem;
        transform: translateX(4rem);
    }
}
