<section class="image-cta-block">
    <div class="image-cta-block__wrap">
        <div class="image-cta-block__card">
            <h2 class="h1">
                <span class="underline">Passionate</span> about your growth &amp; success
            </h2>
            <div class="ijk
                    Our expertise is delivered by people who are passionate about success and growth. We’ve been there. We know about success and failure, but now we use that knowledge to your advantage.[
                </p>
            </div>

            <a href="#" class="button button--white">About us</a>
        </div>
    </div>
</section>
