<section class="image-cta-block">
    <div class="image-cta-block__image js-animate-in js-animate-in--slide-from-left"
         style="background-image: url('/images/karen.png')"></div>
    <div class="image-cta-block__wrap">
        <div class="image-cta-block__card js-animate-in">
            <h2 class="h1 image-cta-block__title">
                <span class="underline underline--large">Passionate</span> about success &amp; growth.
            </h2>

            <div class="image-cta-block__copy">
                <p>
                    Our expertise is delivered by people who are passionate about success and growth. We've been there. We know about success and failure, but now we use that knowledge to your advantage.
                </p>
            </div>

            <a href="#" class="button button--white">About us</a>
        </div>
    </div>
</section>
