<section class="info-block">
    <div class="info-block__wrap">
        <article class="info-block__left js-animate-in">
            <h2 class="h1">
                For those who know they can be more <span class='underline underline--large'>successful,</span> the time is now.
            </h2>
        </article>

        <article class="info-block__right js-animate-in">
            <p>The Growth Academy gives business leaders the tools to implement a blueprint for attaining growth. Using a unique and proven methodology, we enable you to create a healthier and efficient team that will transform sales and break through barriers to let your business thrive.</p>
            <p class="info-block__cta"><a href="#" class="button button--dark">What we offer</a></p>
        </article>
    </div>
</section>
