<section class="news">
    <div class="news__wrap">
        <div class="news__header">
            <h2 class="caption">The <span class="underline underline--large">latest</span></h2>
            <p><a href="#" class="link">All news</a></p>
        </div>

        <div class="news__cards">
            <article class="news-card news-card--text">
                <a href="#" class="news-card__link">
                    <p class="news-card__category"><span class="underline">Resources</span></p>
                    <h3 class="h2 news-card__title">Download the Three Pillars of Successful Selling e-Book</h3>
                </a>
            </article>

            <article class="news-card news-card--middle">
                <a href="#" class="news-card__link">
                    <div class="news-card__image"
                         aria-role="img"
                         aria-label="Image title"
                         style="background-image: url('/images/presenting.png')"></div>
                </a>
            </article>

            <article class="news-card">
                <a href="#" class="news-card__link">
                    <div class="news-card__image"
                         aria-role="img"
                         aria-label="Image title"
                         style="background-image: url('/images/brainstorming.png')"></div>
                </a>
            </article>
        </div>
    </div>
</section>
