<section class="partners slider slider--dark-pips">
    <div class="partners__wrap">
        <h2 class="h3 partners__title">People we work with</h2>

        <div class="partners__slider-container">
            <button class="partners__slide-arrow partners__slide-arrow--left slider__left-button" aria-label="slide left">&lt;</button>

            <div class="partners__slider slider__container">
                <div class="partners__slide slider__slide" tabindex="1">
                    <ul class="partners__partner-list">
                        <li class="partners__partner-item">Softwire</li>
                        <li class="partners__partner-item">Sawday's</li>
                        <li class="partners__partner-item">SMI</li>
                        <li class="partners__partner-item">ATE</li>
                    </ul>
                </div>

                <div class="partners__slide slider__slide slider__slide--show" tabindex="1">
                    <ul class="partners__partner-list">
                        <li class="partners__partner-item">Softwire</li>
                        <li class="partners__partner-item">Sawday's</li>
                        <li class="partners__partner-item">SMI</li>
                        <li class="partners__partner-item">ATE</li>
                    </ul>
                </div>

                <div class="partners__slide slider__slide" tabindex="1">
                    <ul class="partners__partner-list">
                        <li class="partners__partner-item">Softwire</li>
                        <li class="partners__partner-item">Sawday's</li>
                        <li class="partners__partner-item">SMI</li>
                        <li class="partners__partner-item">ATE</li>
                    </ul>
                </div>
            </div>

            <button class="partners__slide-arrow partners__slide-arrow--left slider__right-button" aria-label="slide right">&gt;</button>
        </div>

        <div class="partners__pips slider__pips">
            <button class="slider__pip" aria-label="go to slide 1" data-slide="0"></button>
            <button class="slider__pip slider__pip--active" aria-label="go to slide 2" data-slide="1"></button>
            <button class="slider__pip" aria-label="go to slide 3" data-slide="2"></button>
        </div>
    </div>
</section>
