<section class="products">
    <h2 class="caption products__header">
        It's time to make your business <span class="underline underline--large underline--dark">awesome</span>.
    </h2>
    <p class="products__copy">We are the only company in the UK to offer this completely unique system of business assessment and transformation.</p>

    <div class="products__wrap">
        <article class="product js-animate-in">
            <div class="product__header">
                <div class="product__icon"></div>
                <h3 class="product__title">
                    <span class="product__header-top">growth</span>
                    <span class="product__header-bottom">framework</span>
                </h3>
            </div>

            <p class="product__description">
                The Business Growth Framework is our full consultancy approach programme.
            </p>

            <p class="product__spec">
                Perfect for your business if you:
            </p>

            <ul class="product__spec-list">
                <li class="product__spec-list-item">
                    SME
                </li>

                <li class="product__spec-list-item">
                    Turnover in excess of &pound;5 million
                </li>

                <li class="product__spec-list-item">
                    Sales team of 10+ people
                </li>

                <li class="product__spec-list-item">
                    Ambitious growth plans
                </li>

                <li class="product__spec-list-item">
                    Available budget to invest
                </li>
            </ul>

            <a href="#" class="product__cta link">Learn more</a>
        </article>

        <article class="product js-animate-in">
            <div class="product__header">
                <div class="product__icon"></div>
                <h3 class="product__title">
                    <span class="product__header-top">growth</span>
                    <span class="product__header-bottom">academy</span>
                </h3>
            </div>

            <p class="product__description">
                Perfect for businesses who want to master The Growth Framework for themselves.
            </p>

            <p class="product__spec">
                Perfect for your business if you:
            </p>


            <ul class="product__spec-list">
                <li class="product__spec-list-item">
                    Small business/Sole trader
                </li>

                <li class="product__spec-list-item">
                    Turnover less than &pound;5 million
                </li>

                <li class="product__spec-list-item">
                    5 - people sales team
                </li>

                <li class="product__spec-list-item">
                    Ambitious growth plans
                </li>

                <li class="product__spec-list-item">
                    Limited budget to invest
                </li>
            </ul>

            <a href="#" class="product__cta link">Learn more</a>
        </article>

        <article class="product js-animate-in">
            <div class="product__header">
                <div class="product__icon"></div>
                <h3 class="product__title">
                    <span class="product__header-top">growth</span>
                    <span class="product__header-bottom">club</span>
                </h3>
            </div>

            <p class="product__description">
                The Growth Club provides a focused, supportive space for you to work on your business.
            </p>

            <p class="product__spec">
                Perfect for your business if you:
            </p>


            <ul class="product__spec-list">
                <li class="product__spec-list-item">
                    Business owner/sales director
                </li>

                <li class="product__spec-list-item">
                    Turnover in excess of &pound;5 million
                </li>

                <li class="product__spec-list-item">
                    Ambitious growth plans
                </li>

                <li class="product__spec-list-item">
                    Prepared to do things differently
                </li>
            </ul>

            <a href="#" class="product__cta link">Learn more</a>
        </article>
    </div>
</section>
