<section class="testimonials slider slider--dark-pips">
    {% include "partials/puzzle-mask.html" %}
    <h2 class="sr-only">Testimonials</h2>

    <div class="testimonials__wrap">
        <div class="testimonials__slider js-animate-in">
            <div class="slider__container">
                <article class="testimonials__testimonial slider__slide">Test</article>

                <article class="testimonials__testimonial slider__slide slider__slide--show">
                    <blockquote class="h2 testimonials__quote">You have taken the time to understand us, our values and culture and have delivered far more than we could have hoped for.</blockquote>

                    <p class="testimonials__person">Ben Olson, Managing Director<br>Grosvenor Consultancy</p>

                    <p><a href="#" class="link">Growth Academy</a></p>
                </article>

                <article class="testimonials__testimonial slider__slide">
                    <blockquote class="h2 testimonials__quote">You have taken the time to understand us, our values and culture and have delivered far more than we could have hoped for.</blockquote>

                    <p class="testimonials__person">Ben Olson, Managing Director<br>Grosvenor Consultancy</p>

                    <p><a href="#" class="link">Growth Academy</a></p>
                </article>
            </div>

            <div class="testimonials__pips slider__pips">
                <button class="slider__pip" aria-label="go to slide 1" data-slide="0"></button>
                <button class="slider__pip slider__pip--active" aria-label="go to slide 2" data-slide="1"></button>
                <button class="slider__pip" aria-label="go to slide 3" data-slide="2"></button>
            </div>
        </div>

        <div class="testimonials__right">
            <div class="testimonials__image"
                 style="background-image: url('/images/mimi-thian-jxUuXxUFfp4-unsplash-yellow.png')">

            </div>
        </div>

    </div>
</section>
