<html lang="en">
    <head>
        <title>elation</title>
        <link rel="stylesheet" href="/styles.css" type="text/css" media="screen" />
    </head>
    <body>
        {% include "partials/header.html" %}
        <h1>Hello <span class="underline">the queick the lazy dog awesome.</span> this is a test.</h1>
        <p>Hello, this is a <a href="#">test</a></p>

        <ul>
            <li>Sales</li>
            <li>Culture</li>
        </ul>

        <p>Testing 12345 <span class="underline">hello</span> world</p>

        <p><button class="button"><span class="button__text">Test</span></button> </p>

        <p style="background-color: black; padding: 5px"><button class="button button--white"><span class="button__text">Test</span></button> </p>

        <script src="/scripts/main.js" type="text/javascript"></script>
    </body>
</html>
