$mobile-breakpoint: 600px;

$gutter-width: 4rem;
$total-cols: 12;
$site-max-width: 127.2rem;

$site-extra-margin: 8rem;
$site-padding: 2rem;
$max-width: 150rem;

$mobile-breakpoint: 600px;

$gutter-width: 40px;
$total-cols: 12;

:root {
    --green: #0CCE6B;
    --purple: #390049;
    --yellow: #f2dc5d;
    --black: #230B29;
    --white: #F7F7F7;

    --top-bar-level: 1000;
    --nav-layer: 1100;
    --site-max-width: $site-max-width;
    --site-extra-width: $site-extra-margin;

    --site-padding: $site-padding;

    $warping: 1%;

    --standard-box-clip: polygon(0% #{$warping}, calc(100% - #{$warping}) 0%, 100% 100%, 0 calc(100% - #{$warping}));

}

