:root {
    --green: #0CCE6B;
    --purple: #390049;
    --yellow: #f2dc5d;
    --black: #230B29;
    --white: #F7F7F7;

    $warping: 1%;

    --standard-box-clip: polygon(0% #{$warping}, calc(100% - #{$warping}) 0%, 100% 100%, 0 calc(100% - #{$warping}));

}

$mobile-breakpoint: 600px;
