$mobile-breakpoint: 600px;

$gutter-width: 4rem;
$total-cols: 12;

$content-width: 128rem;
$max-width: 144rem;

$site-extra-margin: 8rem;
$site-padding: 2rem;

$mobile-breakpoint: 600px;

$gutter-width: 40px;
$total-cols: 12;

:root {
    --green: #0CCE6B;
    --purple: #390049;
    --yellow: #f2dc5d;
    --black: #230B29;
    --white: #F7F7F7;

    --top-bar-level: 1000;
    --nav-layer: 1100;

    --max-width: #{$max-width};

    --content-width: #{$content-width};
    --site-extra-margin: #{$site-extra-margin};
    --site-padding: #{$site-padding};

    $warping: 1%;

    --standard-box-clip: polygon(0% #{$warping}, calc(100% - #{$warping}) 0%, 100% 100%, 0 calc(100% - #{$warping}));

}

